li {
    list-style-type: none;
}

.left-container {
    width: 400px;
    display: table-cell;
}

.edit-object {
    display: none;
}

main {
    display: table-cell;
}
main .container {
    margin: 0 20px;
    width: 100%;
}
main .object {
    border: 1px solid #ccc;
    display: block;
    margin: 1px;
    padding: 5px;
}
main .edit {
    color: blue;
    cursor: pointer;
}
main .delete {
    color: red;
    cursor: pointer;
}

main .objects-wrapper {
    display: none;
}