main .container {
    margin: 0 20px;
}
main li .object {
    border: 1px solid #ccc;
    display: inline-block;
    margin: 1px;
    padding: 5px;
}
main li .showChilds {
    cursor: pointer;
    color: green;
}
main li .title {
    cursor: pointer;
    color: blue;
}
main li.parent ul {
    display: none;
}

main .description {
    background: #cccccc;
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    padding: 20px;
}

main .description .text {
    background: azure;
    margin: 0 20px;
    padding: 10px;
    min-height: 200px;
}