li {
    list-style-type: none;
}
main .container {
    margin: 0 20px;
}
main .object {
    border: 1px solid #ccc;
    display: none;
    margin: 1px;
    padding: 5px;
    width: 200px;
}
main .showChilds {
    cursor: pointer;
    color: green;
}
main .title {
    cursor: pointer;
    color: blue;
}
main .object[data-parent="0"]{
    display: block;
}

main .description {
    background: #cccccc;
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    padding: 20px;
}

main .description .text {
    background: azure;
    margin: 0 20px;
    padding: 10px;
    min-height: 200px;
}