<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список объектов</title>
    <link href="assets/css/main.css" rel="stylesheet"/>
</head>
<body>
<main>
    <a href="admin">Перейти в административную панель</a>
    <div class="description">
        <h2>Описание объекта</h2>
        <div class="text"></div>
    </div>
    <div class="container">
        <h1>Список объектов</h1>
        {OBJECTS}
    </div>
</main>
<script src="admin/assets/js/functions.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>